@media (min-width: 768px) and (max-width: 1024px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: -35px;
  }
  #carousel-area .item .carousel-caption {
    top: 40%;
  }
  #carousel-area .item .carousel-caption h1 {
    font-size: 60px;
  }
  #carousel-area .item .carousel-caption h2 {
    font-size: 20px;
  }
  #carousel-area .item .carousel-caption .btn {
    padding: 8px 10px;
    margin: 10px 20px;
    font-size: 15px;
  }
  .navbar-default .navbar-nav li a {
    font-size: 12px;
    margin: 20px 7px;
  }
  .navbar-nav {
    float: right;
  }
  .affix-top .to-bottom {
    display: none;
  }
  #services .services-intro h1 span {
    font-size: 28px;
  }
  #services .services-intro h3 {
    font-size: 18px;
  }
  #why-choose .rotate-text {
    font-size: 50px;
  }
  #about #carousel-about .carousel-indicators {
    display: none;
  }
  #about .counter-title {
    font-size: 35px;
  }
  #subscribe .subscription-form .input-group .form-control,
  #subscribe .subscription-form .btn {
    font-size: 20px;
  }
  #contact .contact-form .form-control {
    padding: 5px;
  }
}
@media (max-width: 568px) {
  #carousel-area .item .carousel-caption h1 {
    font-size: 24px;
  }
  #carousel-area .item .carousel-caption h2 {
    font-size: 15px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  /*Navbar*/
  .navbar-default .navbar-collapse {
    background: rgba(0, 0, 0, 0.8);
  }
  .navbar-default .navbar-nav li a {
    margin: 10px;
  }
  /*Slider*/
  #carousel-area .item .carousel-caption h1 {
    font-size: 24px;
  }
  #carousel-area .item .carousel-caption h2 {
    font-size: 15px;
  }
  #carousel-area .item .carousel-caption .btn {
    font-size: 10px;
  }
  /*Rotate Text*/
  #why-choose .rotate-text {
    font-size: 40px;
    line-height: 60px;
  }
  /*Brands*/
  #clients img {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  #testimonial .testimonial-arrow {
    bottom: 106px;
  }
  #about .counter-title {
    font-size: 30px;
  }
  #about .btn {
    font-size: 18px;
  }
  #subscribe .subscription-form .input-group .form-control,
  #subscribe .subscription-form .btn {
    padding: 5px;
    font-size: 15px;
    height: 50px;
  }
  /*Contact Icons*/
  #contact .contact-form .form-control {
    padding: 5px;
  }
  #contact .social i {
    padding: 7px;
    width: 38px;
    height: 38px;
    font-size: 20px;
  }
  /*Title*/
  .section-title {
    font-size: 35px;
  }
  .section-subtitle {
    font-size: 20px;
  }
}
